{% load staticfiles %}
{% load blog_tags %}
<html>
<head>
	<title>Kim's post list</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div>
		{% include_external 'https://stijl.kuleuven.be/2016/includes/header.en.inc' %}
    </div>

	<div class="jumbotron">
		<div class="container">
			<h1>Kim's Django Girls blog</h1>
  			<p>powered by Django and Bootstrap</p>
  		</div>
	</div>

	<div class="container">
		
		{% current_time "%Y-%m-%d %I:%M %p" as the_time %}
        <p>The time is {{ the_time }}.</p>

		{% for post in posts %}
    	<div class="panel panel-info">
        	<div class="panel-heading">
        		<a href="">{{ post.title }}</a>
        	</div>
        	<div class="panel-body">
        		<p><span class="label label-warning">published: {{ post.published_date }}</span></p>
        		<p>{{ post.text|linebreaksbr }}</p>
        	</div>
    	</div>
		{% endfor %}

</div>
</body>
</html>